@{
  Layout = "_Layout";
}
<div class = "jumbotron">
<h1>Client Details: </h1>
</div>

<div class = "container">
<h1>Stylists With The Cut Specialty of: @Model["item"].GetInfo() </h1>
@foreach(var category in @Model["itemCat"])
{
	@foreach(var item in @Model["item"])
	{
		@if(item.GetInfo() == category.GetInfo())
		{
			<p>@category.GetName()</p>
		}
	}
}
</div>
<div class = "footer">
	<div class = "row">
		<div class = "col-md-3">
			<a class="btn btn-default btn-lg" role = "button" href='/categories/@Model["category"].GetId()/items/@Model["item"].GetId()/edit'>Edit this Info</a>
		</div>
		<div class = "col-md-3">
			<p><a class="btn btn-default btn-lg" role = "button" href='/categories/@Model["category"].GetId()/items/new'>Add New Client</a></p>
		</div>
		<div class = "col-md-3">
			<p><a class="btn btn-default btn-lg" role = "button" href='/categories'>Return to stylist list</a></p>
		</div>
		<div class = "col-md-3">
			<p><a class="btn btn-default btn-lg" role = "button" href='/'>Return to Main Page</a></p>
		</div>
	</div>
</div>
