@{
  Layout = "_Layout";
}
<div class = "jumbotron">
<h1>Client Details: </h1>
</div>

<div class = "container">
<h1>Stylists With The Cut Specialty of: @Model["item"].GetInfo() </h1>
@foreach(var category in @Model["allCat"])
{
		@if(Model["item"].GetInfo() == category.GetInfo())
		{
			<h3>Stylist: <a href='/categories/@category.GetId()'>@category.GetName()</a></h3>
		}
}
</div>

<div class = "footer">
	<div class = "row">
		<div class = "col-md-3">
			<p><a class="btn btn-default btn-lg" role = "button" href='/categories'>Return to stylist list</a></p>
		</div>
		<div class = "col-md-3"></div>
		<div class = "col-md-3"></div>
		<div class = "col-md-3">
			<p><a class="btn btn-default btn-lg" role = "button" href='/'>Return to Main Page</a></p>
		</div>
	</div>
</div>