
@{
  Layout = "_Layout";
}
<div class ="jumbotron">
<h1>Edit Stylist</h1>
</div>

<div class = "container">
<form action="/categories/@Model["category"].GetId()" method="post">
  <label for="newName">Employee name</label>
  <input id="newName" name="newName" type="text">
  <button type="submit">Edit</button>
  </form>
  </div>