<h1>Add a Stylist</h1>
<p>Add a stylist here:</p>

<form action="/categories" method="post">
  <label for="categoryName">Employee name</label>
  <input id="categoryName" name="categoryName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/categories">Back to stylists.</a></p>