@{
  Layout = "_Layout";
}
<div class = "jumbotron">
<h1>Welcome to the Salon!</h1>
</div>
<div class = "container">
	<div class = "footer">	
		<div class = "row">
			<div class = "col-md-6">
			<h3><a class="btn btn-default btn-lg" role = "button" href='/categories'>View Stylists</a></h3>
			</div>
			<div class = "col-md-6">
			<h3><a class="btn btn-default btn-lg" role = "button" href='/categories/new'>Add a new Stylist</a></h3>
			</div>
		</div>
	</div>
</div>
